body {
  font-family: "Roboto", sans-serif;
  background: var(--white);
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

.roboto-serif-<uniquifier > {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 0;
}

.raleway-<uniquifier > {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
